.carouselContainer{
  margin-top: -3.5rem;
}
.carouselImageContainer{
  padding: 13px;
}
.carouselContainer img{
  width: 100vw;
  height: auto;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: -0.5rem;
}

.carousel-button {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: #ccc;
  border: none;
  margin: 2px 5px;
}

.carousel-button.active {
  background-color: #98d9c8;
}
